<div class="container">
    <form class="row g-3 register" [formGroup]="formAuthorRegister">
        <div class="title">
            <h3>Cadastrar Autor</h3>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
  
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">Data de Nascimento</label>
          <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth">
        </div>

        <div class="mb-3">
            <label for="nationality" class="form-label">Nacionalidade</label>
            <input type="text" class="form-control" id="nationality" formControlName="nationality">
          </div>
  
        <div class="btn-login text-center">
            <button type="button" class="btn btn-primary" [disabled]="formAuthorRegister.invalid" (click)="register()">Cadastrar</button>
        </div>
      </form>
</div>
