<div class="container-fluid p-4">
    <div class="row">
        <div class="table-responsive col-md-6">
            <div class="table-title text-center">
                <h3>Livros</h3>
            </div>
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Lido</th>
                        <th scope="col">Salvar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let book of list; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.gender}}</td>
                        <td>{{book.release_year}}</td>
                        <td class="text-center">
                            <input type="checkbox">
                        </td>
                        <td class="text-center">
                            <input type="checkbox">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive col-md-6">
            <div class="table-title text-center">
                <h3>Livros Lidos e Salvos</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Ano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">2</th>
                        <td>Carro parado</td>
                        <td>Guilherme</td>
                        <td>Drama</td>
                        <td>1994</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>