<nav class="navbar bg-body-tertiary" *ngIf="isLoggedIn">
    <div class="container-fluid">
        <div>
            <span class="navbar-brand mb-0 h1">Biblioteca</span>
        </div>
        <div class="menu align-middle">
            <ul class="menu-items m-0">
                <li>
                    <a routerLink="/my-books">
                        Meus Livros
                    </a>
                </li>
                <li>
                    <a routerLink="/register-author">
                        Cadastrar Autor
                    </a>
                </li>
                <li>
                    <a routerLink="/register-book">
                        Cadastrar Livro
                    </a>
                </li>
            </ul>
            <button class="mx-2 btn-logout" (click)="logout()" >Sair</button>
        </div>
    </div>
</nav>