<div class="container">
  <div class="login">
    <form class="row g-3" [formGroup]="formLogin">
      <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="email" class="form-control" id="email" placeholder="meuemail@email.com" formControlName="email">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div style="width: 100%;" class="text-end mt-2">
          <a class="form-text" [routerLink]="'/register-user'">
            Ainda não tenho uma conta
          </a>
        </div>
      </div>

      <div class="btn-login text-center">
          <button type="button" class="btn btn-primary" [disabled]="!formLogin.valid" (click)="login()">Acessar</button>
      </div>
    </form>
  </div>
</div>