<div class="container-fluid p-4">
    <div class="row justify-content-center">
        <div class="table-responsive col-md-12 main-book-table book-table">
            <div class="table-title text-center">
                <h3>Livros</h3>
            </div>
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Detalhes</th>
                        <th scope="col">Lido</th>
                        <th scope="col">Salvar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let book of list; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{book.title}}</td>
                        <td>
                            <button type="button" class="btn" (click)="showModal(book)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path
                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                            </button>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" (change)="bookReaded(book, $event)">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" (change)="bookSaved(book, $event)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <dialog *ngIf="selectedBook">
            <h2 class="text-center">Detalhes</h2>

            <div class="table-responsive col-md-12 main-book-table book-table">
                <div class="table-title text-center">
                    <h3>Livros</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ano</th>
                            <th scope="col">Sinopse</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <th scope="row">{{1}}</th>
                            <td>{{selectedBook.title}}</td>
                            <td>{{selectedBook.author}}</td>
                            <td>{{selectedBook.gender}}</td>
                            <td>{{selectedBook.release_year}}</td>
                            <td>{{selectedBook.synopsis}}</td>                            
                        </tr>
                    </tbody>
                </table>
                <div class="text-end">
                    <button (click)="closeModal()" class="btn btn-danger">Fechar</button>
                </div>
            </div>
        </dialog>

        <div class="row gap-3 col-12 justify-content-center">
            <div class="table-responsive col-md-5 book-table">
                <div class="table-title text-center">
                    <h3>Livros Lidos</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ano</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of readedFilteredList; let i = index">
                            <td>{{i+1}}</td>
                            <th>{{book.title}}</th>
                            <td>{{book.author}}</td>
                            <td>{{book.gender}}</td>
                            <td>{{book.release_year}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive col-md-5 book-table">
                <div class="table-title text-center">
                    <h3>Livros Salvos</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ano</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of savedFilteredList; let i = index">
                            <td>{{i+1}}</td>
                            <th>{{book.title}}</th>
                            <td>{{book.author}}</td>
                            <td>{{book.gender}}</td>
                            <td>{{book.release_year}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>